<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SCIM API Prototype</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="content">
            <div class="float-left">
                <div class="items">
                    <label>User ID</label>
                    <input type="text" />
                </div>
                <div class="items">
                    <label class="item">User Name</label>
                    <input type="text" />
                </div>
                <div class="items">
                    <label class="item">Display Name</label>
                    <input type="text" />
                </div>
                <div class="items">
                    <label>Active</label>
                    <select>
                        <option value="ture">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div>
                    <input type="button" value="Create User" />
                    <input type="button" value="Update User" />
                    <input type="button" value="Delete User" />
                </div>
            </div>
            <div class="float-right">
                <h3>Users in the database</h3>
                <table>
                    <tr>
                        <td>First User</td>
                        <td>usre1@contoso.com</td>
                    </tr>
                    <tr>
                        <td>First User</td>
                        <td>usre1@contoso.com</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </section>
</div>
